//main.scss
@import '_variables';

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $background-color;
}

.header{
    background-color: $primary-color; 
    color: $text-light-color;
    padding: 2rem;
    text-align: center;

    h1{
        font-size: 2.5rem;
    }

    p{
        font-size: 1.2rem;
    }
}

.main-content{
    padding: 2rem;
    
    section{
        margin-bottom: 2rem
    }


    .images-section img{
    max-width: 100%;
    height: auto;
    border: 5px solid $primary-color;
    }

    .text-section{
    color: $text-dark-color;
    font-size: 1.1rem;
    line-height: 1.6;
    }

    .video-section video{
        max-width: 100%;
        border: 2px solid $primary-color;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

.footer{
    background-color: $primary-color;
    color: $text-light-color;
    text-align: center;
    padding: 1rem;
}